 @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: url(../iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
     src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}



 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     width: 1em;
     height: 1em;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
    /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
    /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
     font-feature-settings: 'liga';
}


html, body {
  overflow-x: hidden;
}



/** checkbox **/

.containers {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  font-weight: 500;
}

/* Hide the browser's default checkbox */
.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  float: left;
}

/* Create a custom checkbox */
.containers .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  float: left;
  border-radius: 50%;
  border: 1px solid #3C9B34;
}

/* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmark {
  background-color: #3C9B34;
}

/* Create the checkmark/indicator (hidden when not checked) */
.containers .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containers input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containers .checkmark:after {
  left: 3px;
  top: 0px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



 /* Customize the label (the container) */
.containerss {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 13px;
}

/* Hide the browser's default radio button */
.containerss input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.containerss .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #3C9B34;
  margin-top: 13px;
}

/* On mouse-over, add a grey background color */
.containerss:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.containerss input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.containerss .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerss input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerss .checkmark:after {
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3C9B34;
} 





body {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}
button, .btn, .form-control {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
}
.form-control {
   border: 1px solid #E8E8E8;
   box-shadow: none;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.29);
}
.form-control:focus {
   box-shadow: none;
}
label {
   font-size: 14px;
   color: #000;
   font-family: "Lato", serif;
   font-weight: 500;
   padding-top: 10px;
}

button.flowBtn2 {
   border-radius: 16px;
   -webkit-border-radius: 16px;
   height: 27px;
   color: #fff;
   font-size: 12px;
   border: none;
   background: #077DBE;
}

button.flowBtn {
   border-radius: 16px;
   -webkit-border-radius: 16px;
   height: 27px;
   color: #fff;
   font-size: 12px;
   border: none;
   width: 70px;
   background: linear-gradient(to right, #124692 0%, #40B549 100%);
}

form button {
   background: #05923E;
   color: #fff;
   font-size: 14px;
   border-radius: 18px;
   -webkit-border-radius: 18px;
   font-family: "Lato";
   margin-top: 60px;
   height: 36px;
}






.container-fluid.mainMap, .row.mainRow, .menuTab, .mainBody {
   padding: 0;
   min-height: 100vh;
}

.menuTab {
   background: #021F4A;
   z-index: 20;
}
.mainBody {
   padding-bottom: 70px;
   z-index: 10;
}
nav {
  height: 70px;
}
.navbar.mishtab1 {
   background: #fff;
}
.navbar.mishtab2 {
    box-shadow: 0 0 3px rgba(53, 53, 53, 0.2);
    background: linear-gradient(to right, #124692 0%, #40B549 100%);
    padding-right: 3%;
}

.mishtab2 .navbar-nav li {
   color: #fff;
   font-size: 13px;
}

.mishtab2 .navbar-nav li a.nav-link:hover, .mishtab2 .navbar-nav li a.nav-link.active {
   color: #fff;
}
.mishtab2 .navbar-nav li a.nav-link {
   color: #fff;
}
.navbar-nav li a.nav-link i {
   font-size: 15px;
}
.search {
   background: transparent;
   border: none;
   color: #fff;
   font-size: 14px;
}
.search:focus {
   background: transparent;
   border: none;
   box-shadow: none;
   color: #fff;
}
.search::placeholder {
   color: #fff;
   opacity: 0.5;
}


ul.list-group.menuList {
   margin-top: 70px;
   border-radius: 0px;
   -webkit-border-radius: 0px;
}

ul.menuList li {
   background: rgba(39, 61, 122, 0.14);
   cursor: pointer;
   padding: 0px;

}
ul.menuList li .purse a {
   color: #fff;
   text-decoration: none;
   width: 100%;
}
ul.menuList li .purse {
  width: 100%;
   height: 53px;
   font-size: 15px;
   color: #fff;
   padding: 12px 20px 12px 20px;
}
ul.menuList li:hover, ul.menuList li.active {
  background: rgba(0, 24, 59, 1);
}
ul.menuList li:hover .purse, ul.menuList li.active .purse {
   
   border-left: 5px solid rgba(0, 178, 0, 1);
   color: rgba(0, 178, 0, 1);
   padding-left: 15px;
}

ul.menuList li .purse i {
   font-size: 17px;
   margin-right: 15px;
   margin-top: 4px;
   float: left;
}
ul.menuList .purse i.open, ul.menuList .purse i.end {
   float: right;
   margin-right: 0px;
   font-size: 10px;
   margin-top: 6px;
}
i.end {
   display: none;
}

ul.dropped {
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  list-style-type: none;
  overflow: hidden;
  height: 0px;
}
ul.dropped li {
   margin-bottom: 10px;
   background: transparent;
}
ul.dropped li a {
   font-size: 14px;
   font-style: italic;
   color: rgba(170, 170, 170, 1);
   text-decoration: none;
}
ul.dropped li:hover a, ul.dropped li.active a {
   color: rgba(0, 178, 0, 1);
}
ul.dropped li:hover .dot, ul.dropped li.active .dot {
   background: rgba(0, 178, 0, 1);
   border: none;
}
.dot {
   float: left;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   background: transparent;
   border: 1px solid rgba(170, 170, 170, 1);
   margin-right: 14px;
   margin-top: 8px;
}
.base {
   position: fixed;
   bottom: 20px;
   width: 100%;
   padding-left: 30px;
}
.base img {
   width: 110px;
   
}
.base h6 {
   color: rgba(255, 117, 56, 1);
   font-size: 10px;
   text-transform: uppercase;
   width: 100%;
}








.calendar {
   font-size: 14px;
   color: #000;
   text-align: right;
   font-style: italic;
   font-weight: 500;
   padding-top: 7px;
   font-family: "Lato", serif;
}
.pageHead {
   padding: 0px;
   border-bottom: 1px solid #E8E8E8;
}
.topic {
   float: left;
   font-size: 16px;
   color: #077DBE;
   padding: 0px 15px 10px 15px;
   border-bottom: 4px solid #109BF8;
}
.topic i {
   color: #077DBE;
   font-size: 19px;
   margin-right: 14px;
}



table {
   
}
table thead {
   border-bottom: 3px solid #077DBE;
   background: #fff;
   font-family: "Lato", serif;
}
table thead th {
   color: #077DBE;
   font-size: 15px;
}
table tbody td {
   color: #000;
   font-size: 14px;
   font-weight: 200;
}
table tbody td a {
   color: #077DBE;
   text-decoration: none;
   font-weight: 500;
}
.tableRow {
   width: 100%;
}


.first {
   margin-top: 90px;
}

.mainPage {
   color: #4372B8;
   font-size: 16px;
   text-align: center;
   margin-top: 60px;
   font-family: "Lato";
   font-weight: 600;
}
hr {
   width: 10%;
   margin-left: 45%;
   margin-right: 45%;
   color: #E8E8E8;
   margin-top: 7px;

}
.mainPage span {
   color: #000;
}



ul.pagination li {
   width: 30px;
   height: 30px;
   margin-right: 10px;
   
}

ul.pagination li a {
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 12px;
   box-sizing: border-box;
   padding-left: 10px;
   color: rgba(74, 74, 74, 0.6);
   border: 1px solid #85AEEC;
   border-radius: 3px;
   -webkit-border-radius: 3px;
}

ul.pagination li a:hover, ul.pagination li.page-item.active a {
   background: #85AEEC;
   color: #fff;
   border: none;
}
ul.pagination li select.form-control {
   height: 30px !important;
   width: 60px;
   padding: 0;
   border: 1px solid #85AEEC;
   color: rgba(74, 74, 74, 0.6);
   font-size: 12px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
}









@media(max-width: 768px) {

   .menuTab, .menuTab nav {
      margin-left: -100%;
   }

   .navbar.mishtab2 ul{
      flex-direction: row;
   }

   .navbar.mishtab2 ul li {
      margin-left: 40px;
   }


}